<form action="/api/create" method="POST">
  <h2>Создание вопроса</h2>
  <div class="input-field">
    <label style="position: unset;">Текст вопроса</label>
    <input type="text" name="text">
  </div>
  <div class="input-field" style="height: 50px;">
    <input type="checkbox" id="required" value="true" name="required" style="height: 50px;">
    <label for="required" style="box-sizing: content-box;">Обязательный</label>
  </div>
  <button type="submit" class="btn">Принять</button>
</form>